@media screen and (min-width: 750px) {
	.app-bar {
	  grid-template-columns: 1fr auto;
	  padding: 8px 32px;
	}
   
	.app-bar .app-bar__brand h1 {
	  font-size: 1.5em;
	}
   
	.app-bar .app-bar__menu {
	  display: none;
	}
   
	.app-bar .app-bar__navigation {
	  position: static;
	  width: 100%;
	}
   
	.app-bar .app-bar__navigation ul li {
	  display: inline-block;
	}
   
	.app-bar .app-bar__navigation ul li a {
	  display: inline-block;
	  width: 120px;
	  text-align: center;
	  margin: 0;
	}
   
  }
   
  @media screen and (max-width: 800px) {
	.app-bar .app-bar__brand h1 {
	  font-size: 2em;
	}

	img.img1, .img2, .img3, .img4{
		width: 70vw;
	  }
  
	  h2.restaurant_name {
		font-size: 26px;
	  }
  
	  .restaurant_info #menu{
		display: flex;
		flex-direction: column;
		gap: 10px;
	  }
  
	  .restaurant_info #menu h4{
		font-size: 24px;
	  }
  
	  .restaurant_info .review-list{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	  }

	
  }
   
